---
const {variant, headerText, copy, buttonText, imgSrc, imgAlt, buttonVariant} = Astro.props;
import Button from '../components/Button.astro';
---

<section data-variant={variant}>
	<div class="imgBox">
		<img src={imgSrc} alt={imgAlt}>
	</div>
	<div class="textBox">
		<h2>{headerText}</h2>
		<p>{copy}</p>
		<Button buttonVariant={buttonVariant}>{buttonText}</Button>
	</div>
</section>

<style>
	section {
		width: 100%;
		padding: 0.25rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		& img {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
	.textBox {
		margin-left: 2rem;
	}
	[data-variant="imgLeft"] {
		background-color: var(--ca_supp_llbeige);
		& div:first-of-type {
			order: -1;
		}
	}
	[data-variant="imgRight"] {
		background-color: var(--ca_supp_lbeige);
		& div:first-of-type {
			order: 1;
		}
	}

	@media (max-width: 768px) {
		section {
			grid-template-columns: 1fr;
			& div {
				order: 1;
			}
		}
	}
</style>