---
const {headerText, bodyText, imgSrc, imgAlt, buttonVariant, buttonText, someVariant, hasButton} = Astro.props;
import Button from "./Button.astro";
---
<section data-variant={someVariant}>
    <img src=`media/image/${imgSrc}` alt={imgAlt}>
    <div class="border">
        <h2>{headerText}</h2>
       <slot></slot>
        {hasButton && <Button buttonVariant={buttonVariant} buttonText={buttonText}/>}
    <div>

</section>
<style>
section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto 300px;
    min-width: 120px;
    max-width: 400px;
    margin: 1rem;
    gap: 1rem;
    justify-items: left;
    white-space: pre-line;
    margin-bottom: 5rem;


    & img {
        width: 100%;
        height: auto;
        object-fit: fill;
        padding: 0.5rem;
      
    }
    & div{
        background-color:var(--ca_blue_darker);
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        color: white;
        padding: 1rem;
        overflow:auto;
        & h2 {
            margin: 1rem;
           

        }
        & p {
            margin: 1rem;
        }
    }

}


</style>